.toDoForma{
    display: grid;
    grid-template-rows: 5vh 95vh;
    width: 99vw;
    justify-items: center;
    border: 5px;
    padding: 5px;
    background-color:  rgb(243, 243, 243);
}

.toDo{
    display: flex;
    padding: 0px;
    border: 0px;
    flex-flow: row wrap;
    justify-content: center;
    width: 99vw;
    flex-basis: auto;
    
}

.menuBox{
    width: 33vw;
    align-content: center;
    text-align: center;
}

.menuBox:hover{
    background-color: rgb(192, 192, 192);
    transition: 0.6s;
    
}



.galeria{
    display: inline-flexbox;
    max-width: 95vw;
    width: 95vw;
    height: 9vh;
    
}